@model Diet.Models.DietPlan

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DietPlan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CalorieLimit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CalorieLimit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PotentialFood)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PotentialFood)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Food)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Food)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Calories)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Calories)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxCal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxCal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinCal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinCal)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
