@model IEnumerable<Diet.Models.MessageBoard>

@{
    ViewBag.Title = "Categories";
}

<h2>Categories</h2>

<p>
    @Html.ActionLink("Diets", "Index") 
    
    @Html.ActionLink("Links", "Index2")
</p>
<!--
<table class="table">
    <tr>
        <td>


            @Html.ActionLink("Edit", "Edit") |
            @Html.ActionLink("Details", "Details") |
            @Html.ActionLink("Delete", "Delete")
        </td>
    </tr>
}

</table>
-->
