@model IEnumerable<Diet.Models.MessageBoard>

@{
    ViewBag.Title = "Index2";
}

<h2>Links</h2>

<p>
    @Html.ActionLink("Create New", "Create2")
    @Html.ActionLink("Back to Categories", "Categories")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Topic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Topic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Message)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit2", new { id=item.MessageBoardID }) |
            @Html.ActionLink("Details", "Details2", new { id=item.MessageBoardID }) |
            @Html.ActionLink("Delete", "Delete2", new { id=item.MessageBoardID })
        </td>
    </tr>
}

</table>
